/* src/components/Footer.css */
footer p {
  margin-bottom: 0.5rem;
}

footer h3 {
  margin-bottom: 1rem;
}

footer .nav-link {
  padding: 0;
  margin-bottom: 0.5rem;
}

footer .nav-link:hover {
  text-decoration: underline;
}