/* src/components/Navbar.css */
.navbar-logo {
  height: 60px;
  max-width: 100%;
}

#navbar {
  background: linear-gradient(rgba(154, 86, 162, 0.8), rgba(154, 86, 162, 0.7));
 /* margin-top: -40px; */
}


#navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navbar .navbar-brand span {
  font-size: 1.25rem;
  font-weight: bold;
}

#navbar .nav-link {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

